/* CSS definition file containing site stylesheet */
body {
    background: rgb(30,87,153);
    background: -moz-radial-gradient(center, ellipse cover, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    background: radial-gradient(ellipse at center, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
}
.row>div {
    margin-bottom:10px;
}
#stocksPanel,#playersPanel,.row{
    text-align:left;
    color:#ffffff;
    border-style:solid;
    width:250px;
    padding:20px;
    background-color:#000000;
}
h1 {
    color:#ff0000;
}
tr {
    border-bottom: 1px solid #963939;
}
table {
    color : white;
}
.admin {
    text-align:left;
    color:#ffffff;
    border-style:solid;
    width:400px;
    padding:30px;
    background-color:#000000;
    margin-left:auto; 
    margin-right:auto;
}
#stocksPanel{
    float:right;
}
#playersPanel{
    float:left;
}

td{
    padding-right: 15px;
}

.row{
    width:100%;
}
.hideoption{
    display:none; visibility:hidden; height:0; font-size:0;
}
#oneStock,#onePlayer{
    margin-top:5px;
}
.login
{
    display: block;
    text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color:#ffffff;
    border-style:solid;
    width:300px;
    padding:20px;
    background-color:#000000;
}