/* CSS definition file containing site stylesheet */
body {
    background-color:#0C3A6D
}
.row>div {
    margin-bottom:10px;
}
#playersPanel,.row{
    text-align:left;
    color:#ffffff;
    border-style:solid;
    width:20%;
    padding:20px;
    background-color:#000000;
    float:left;
}

#stocksPanel {
    text-align:left;
    color:#ffffff;
    border-style:solid;
    width:20%;
    padding:20px;
    background-color:#000000;
    float:left;
}
#transactionsPanel {
    text-align:center;
    color:#ffffff;
    border-style:solid;
    width:50%;
    padding:20px;
    margin-left: 20px;
    margin-right:20px;
    background-color:#000000;
    float:left;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    color: #FFFFFF;
}

h1 {
    color:#ff0000;
}
.admin {
    text-align:left;
    color:#ffffff;
    border-style:solid;
    width:250px;
    padding:20px;
    background-color:#000000;
    margin-left:auto; 
    margin-right:auto;
}
.row{
    width:100%;
}
.hideoption{
    display:none; visibility:hidden; height:0; font-size:0;
}
#oneStock,#onePlayer{
    margin-top:5px;
}
.login
{
    display: block;
    text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color:#ffffff;
    border-style:solid;
    width:300px;
    padding:20px;
    background-color:#000000;
}